.profileChild {
    position: absolute;
    bottom: 0;
    left: calc(50% - 900px);
    background-color: var(--color-black);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 1800px;
    height: 212px;
  }
  
  .profileHeader {
    position: absolute;
    bottom: 70px;
    left: calc(50% - 120px);
    font-size: var(--font-size-5xl);
    font-family: var(--font-wallpoet);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    width: 240px;
    height: 49px;
  }
  
  .profileSection,
  .profileItem {
    position: absolute;
    left: calc(50% - 900px);
    width: 1800px;
  }
  
  .profileItem {
    top: 0;
    background-color: var(--color-black);
    height: 98px;
  }
  
  .profileSection {
    top: calc(50% - 343.5px);
    height: 573px;
    object-fit: cover;
  }
  
  .profileHeader1 {
    position: absolute;
    top: 25px;
    left: 81px;
    font-size: var(--font-size-29xl);
    font-family: var(--font-wallpoet);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    width: 240px;
    height: 49px;
  }
  
  .profileRectangle {
    position: absolute;
    top: calc(50% - 343.5px);
    left: calc(50% - 241px);
    background-color: var(--color-gainsboro-100);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 503px;
    height: 573px;
  }
  
  .profileTitle {
    position: absolute;
    top: calc(50% - 241.5px);
    left: calc(50% - 150px);
    font-size: var(--font-size-9xl);
    display: inline-block;
    width: 222px;
    height: 50px;
  }
  
  .profileHeader2 {
    font-family: var(--font-roboto);
  }
  
  .profileSubtitle {
    margin: 0;
  }
  
  .profileSubtitleContainer {
    position: absolute;
    top: calc(50% - 195.5px);
    left: calc(50% - 150px);
    display: inline-block;
    width: 290px;
    height: 19px;
  }
  
  .profileLink {
    color: var(--color-black);
  }
  
  .profileNoAccountContainer {
    position: absolute;
    top: calc(50% + 112.5px);
    left: calc(50% - 104px);
    text-align: center;
    display: inline-block;
    width: 203px;
    height: 28px;
    color: var(--color-fuchsia);
  }
  
  .profileEmail,
  .profileTextfield {
    position: absolute;
    left: calc(50% - 150px);
  }
  
  .profileEmail {
    top: calc(50% - 157.5px);
    font-size: var(--font-size-lg);
    display: inline-block;
    width: 83px;
    height: 35px;
  }
  
  .profileTextfield {
    border: 0;
    background-color: transparent;
    top: calc(50% - 122.5px);
  }
  
  .profilePassword {
    top: calc(50% - 47.5px);
    font-size: var(--font-size-lg);
    display: inline-block;
    width: 111px;
    height: 28px;
  }
  
  .profilePassword,
  .profileButton,
  .profileTextfield1 {
    position: absolute;
    left: calc(50% - 150px);
  }
  
  .profileTextfield1 {
    border: 0;
    background-color: transparent;
    top: calc(50% - 12.5px);
  }
  
  .profileButton {
    top: calc(50% + 55.5px);
  }
  
  .profileIcon {
    position: absolute;
    top: calc(50% - 115.5px);
    left: calc(50% + 98px);
    width: 52px;
    height: 35px;
    object-fit: cover;
  }
  
  .profileCorporateInfo,
  .profileFAQ {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 148px;
    height: 29px;
    flex-shrink: 0;
  }
  
  .profileCorporateInfo {
    width: 174px;
  }
  
  .profileHelpCenterParent,
  .profileFAQParent {
    position: absolute;
    top: 702px;
    height: 29px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-lgi);
  }
  
  .profileFAQParent {
    left: 30px;
    width: 341px;
  }
  
  .profileHelpCenterParent {
    left: 398px;
  }
  
  .profileContainer {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    /* height: 883px; */
    height: 500px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--font-roboto);
  }
  