.regbills {
  position: absolute;
  bottom: 27px;
  left: calc(50% - 119.5px);
  display: inline-block;
  width: 240px;
  height: 49px; 
}
.homeChild,
.homeItem {
  position: absolute;
  width: 1800px;
}
.homeChild {
  top: 0;
  left: calc(50% - 900.5px);
  background-color: var(--color-black);
  height: 98px;
}
.homeItem {
  top: calc(50% - 343.5px);
  left: calc(50% - 899.5px);
  height: 573px;
  object-fit: cover;
}
.frame,
.regbills1 {
  position: absolute;
  top: 759px;
  left: 400px;
  width: 32px;
  height: 867px;
}
.regbills1 {
  top: 25px;
  left: 81px;
  font-size: var(--font-size-29xl);
  display: inline-block;
  width: 240px;
  height: 49px;
}
.homeInner {
  position: absolute;
  top: calc(50% - 343.5px);
  left: calc(50% - 579.5px);
  background-color: var(--color-gainsboro-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1079px;
  height: 573px;
}
.bienvenidoA {
  margin: 0;
}
.bienvenidoARegbillsContainer {
  position: absolute;
  top: calc(50% - 314.5px);
  left: calc(50% - 149.5px);
  font-size: var(--font-size-9xl);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  width: 222px;
  height: 50px;
}
.rectangleDiv {
  position: absolute;
  bottom: 0;
  left: calc(50% - 900.5px);
  background-color: var(--color-black);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1800px;
  height: 212px;
}
.regbills3 {
  position: absolute;
  bottom: 70px;
  left: calc(50% - 120.5px);
  display: inline-block;
  width: 240px;
  height: 49px;
}
.informacinCorporativa,
.preguntasFrecuentes {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 148px;
  height: 29px;
  flex-shrink: 0;
}
.informacinCorporativa {
  width: 174px;
}
.centroDeAyudaParent,
.preguntasFrecuentesParent {
  position: absolute;
  top: 702px;
  height: 29px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  text-align: left;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
}
.preguntasFrecuentesParent {
  left: 30px;
  width: 341px;
}
.centroDeAyudaParent {
  left: 398px;
}
.addregister { 
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 883px;
  height: 500px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-wallpoet);
}
