/* Config.module.css */

.config {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 448px; /* Cambiado a 500px */
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-wallpoet);
}

/* Los estilos para .configContainer, .configTitle, .buttonsContainer y .configButton se mantienen igual que los proporcionados anteriormente */

.configContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between; /* Espacio entre los elementos */
  margin-top: 16px;
  padding: 0 50px; /* Espacio horizontal entre botones */
}

.configButton {
  /* Estilo para los botones */
  /* Elimina el margen horizontal de los botones */
  margin: 0;
}

