.iniciosesionChild {
  position: absolute;
  bottom: 0;
  left: calc(50% - 900px);
  background-color: var(--color-black);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1800px;
  height: 212px;
}
.regbills {
  position: absolute;
  bottom: 70px;
  left: calc(50% - 120px);
  font-size: var(--font-size-5xl);
  font-family: var(--font-wallpoet);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 240px;
  height: 49px;
}
.iniciosesionInner,
.iniciosesionItem {
  position: absolute;
  left: calc(50% - 900px);
  width: 1800px;
}
.iniciosesionItem {
  top: 0;
  background-color: var(--color-black);
  height: 98px;
}
.iniciosesionInner {
  top: calc(50% - 343.5px);
  height: 573px;
  object-fit: cover;
}
.regbills1 {
  position: absolute;
  top: 25px;
  left: 81px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-wallpoet);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 240px;
  height: 49px;
}
.rectangleDiv {
  position: absolute;
  top: calc(50% - 343.5px);
  left: calc(50% - 241px);
  background-color: var(--color-gainsboro-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 503px;
  height: 573px;
}
.inicioDeSesin {
  position: absolute;
  top: calc(50% - 241.5px);
  left: calc(50% - 150px);
  font-size: var(--font-size-9xl);
  display: inline-block;
  width: 222px;
  height: 50px;
}
.regbills2 {
  font-family: var(--font-roboto);
}
.inicioSesinConTuCuentaDe {
  margin: 0;
}
.inicioSesinConContainer {
  position: absolute;
  top: calc(50% - 195.5px);
  left: calc(50% - 150px);
  display: inline-block;
  width: 290px;
  height: 19px;
}
.registrate {
  color: var(--color-black);
}
.noTienesCuentaContainer {
  position: absolute;
  top: calc(50% + 112.5px);
  left: calc(50% - 104px);
  text-align: center;
  display: inline-block;
  width: 203px;
  height: 28px;
  color: var(--color-fuchsia);
}
.email,
.rectangleTextfield {
  position: absolute;
  left: calc(50% - 150px);
}
.email {
  top: calc(50% - 157.5px);
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 83px;
  height: 35px;
}
.rectangleTextfield {
  border: 0;
  background-color: transparent;
  top: calc(50% - 122.5px);
}
.contrasea {
  top: calc(50% - 47.5px);
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 111px;
  height: 28px;
}
.contrasea,
.iniciosesionChild1,
.rectangleButton {
  position: absolute;
  left: calc(50% - 150px);
}
.iniciosesionChild1 {
  border: 0;
  background-color: transparent;
  top: calc(50% - 12.5px);
}
.rectangleButton {
  top: calc(50% + 55.5px);
}
.checkProfileIcon {
  position: absolute;
  top: calc(50% - 115.5px);
  left: calc(50% + 98px);
  width: 52px;
  height: 35px;
  object-fit: cover;
}
.informacinCorporativa,
.preguntasFrecuentes {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 148px;
  height: 29px;
  flex-shrink: 0;
}
.informacinCorporativa {
  width: 174px;
}
.centroDeAyudaParent,
.preguntasFrecuentesParent {
  position: absolute;
  top: 702px;
  height: 29px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.preguntasFrecuentesParent {
  left: 30px;
  width: 341px;
}
.centroDeAyudaParent {
  left: 398px;
}
.iniciosesion {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 883px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
