/* 
//originales

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f5f5f5;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .buttons {
    display: flex;
    align-items: center;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
   */

   .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #000000;
  } 


  /* .header {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    padding: 10px;
    background-color: #000000;
  }
   */
  


   /* .logo {
    font-size: 29px; 
    font-weight: bold;
    color: #007bff; 
    text-decoration: none; 
   }  */

  .logo {
	font-size: 40px;
    font-family: var(--font-wallpoet);
    /* color: rgba(0, 0, 0, 0.87); */
    color:  #ffffff;
    text-align: center;
    width: 240px;
    height: 49px;
    padding-left: 60px;
  }

  .buttons {
    display: flex;
    align-items: center;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px; 
    padding: 8px 12px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
